.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato__título,
.contato__texto {
    background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contato__título{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1em;
}

.contato__texto{
    font-weight:300;
    padding-bottom: 1em;
}

.contato__emaill{
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contato__emaill::placeholder{
    font-family: var(--fonte-pricipal);
    font-weight: 400;
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2.5em;
    background-position: 0.3em;
}

.contato__emaill:focus{
    border: 1px solid var(--azul);
    outline: none;
}

@media screen and (min-width: 1024px) {

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 1em;
    }

    .contato__título{
        font-size: 24px;
    }

    .contato__descrição{
        margin-right: 5em;
        width: 30%;
    }

    .contato__emaill{
        width: 30%;
    }

}

@media screen and (min-width: 1728px) {

    .contato {
        padding: 3em 20vw;
    }

}